<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<!-- Main site -->
<main id="site-main">
    <div class="container">
        <a href="/">All users</a>
        <div class="form-title text-center">
            <h2 class="text-dark">Add a new user</h2>
            <span>Use the form below to add a new user !</span>
        </div>

        <!-- include form user -->
        <%- include('include/_form')%>
        <!-- /include form user -->
        
    </div>
</main>
<!-- /Main site -->


<!-- include footer -->
<%- include('include/_footer')%>
<!-- /include footer -->