<tr>
    <td>1</td>
    <td>Username</td>
    <td>example@gmail.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="/update-user" class="btn border-shadow update">
            Modifier
        </a>
    </td>
    <td>
        <a href="#" class="btn border-shadow delete">
            Suppr
        </a>
    </td>
</tr>